<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memini</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="container-welcome">
    <h1>¡Bienvenid@ a Memini!</h1>
    <p class="store-description">-Tienda de Accesorios-</p>
  </div>

  {{{ body }}}

</body>

</html>