<div class="authentication-error">
    <h1>Error de Autenticación</h1>
    <p>La combinación de correo electrónico y contraseña no es válida.</p>
    <p>Asegúrate de escribir correctamente el correo electrónico y la
        contraseña.</p>
    <button onclick="location.href='/views/login'">Volver al Login</button>
</div>