<div class="products-heading">
    <h3>Productos Disponibles</h3>
</div>

<div class="container-products">

    <div class="table-home">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
            {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>${{price}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

<script>
    console.log({{products}});
</script>